<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tbgt.persistence.ExpressMapper">

    <select id="getExpressByOrderId" resultType="Express" parameterType="long">
      SELECT * FROM express WHERE orderid=#{id}
    </select>

    <insert id="insertExpress" parameterType="Express">
		INSERT INTO express (orderId,expressNo,fee,giftFee,agencyFee,sendTime,dummy)
    	VALUE (#{orderId},#{expressNo},#{fee},#{giftFee},#{agencyFee},#{sendTime},#{dummy})
	</insert>

	<update id="updateExpress" parameterType="Express">
  		UPDATE express
  		SET
			fee = #{fee},
			giftFee = #{giftFee},
			agencyFee = #{agencyFee},
			expressNo = #{expressNo},
			dummy = #{dummy},
			sendTime = #{sendTime}
  		where id = #{id}
	</update>

	<delete id="deleteExpress" parameterType="int">
    	DELETE FROM express WHERE id = #{id}
    </delete>
</mapper>