<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tbgt.persistence.BaobeiMapper">

	<resultMap id="resultBaobei" type="Baobei">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="taobaoId" column="taobaoId"/>
        <result property="incomingTime" column="incomingTime"/>
        <result property="saleTitle" column="saleTitle"/>
        <result property="weight" column="weight"/>
    </resultMap>

    <resultMap id="result" extends="resultBaobei" type="Baobei">
        <association property="price" column="id" javaType="Price"
                     select="tbgt.persistence.PriceMapper.getPrice"/>
    </resultMap>

    <resultMap id="pagingResult" extends="resultBaobei" type="Baobei">
        <association property="price" column="id" javaType="Price">
            <id property="id" column="price.id"/>
            <result property="baobeiId" column="id"/>
            <result property="recommendedPrice" column="recommendedPrice"/>
            <result property="purchasePrice" column="purchasePrice"/>
            <result property="salePrice" column="salePrice"/>
        </association>
    </resultMap>



	<select id="getAllBaobei" resultMap="result">
		SELECT * FROM baobei
	</select>

    <select id="getBaobeiWithPaging" parameterType="java.util.Map" resultMap="pagingResult">
		SELECT * FROM baobei join price on baobei.id=price.baobeiid
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="sSearch != null and sSearch != ''">
                name like CONCAT(CONCAT('%', #{sSearch}),'%')  or saleTitle like CONCAT(CONCAT('%', #{sSearch}),'%')
            </if>
        </trim>
        <trim prefix="ORDER BY">
            <if test="sSortColumn_0 != null and sSortColumn_0 != ''">
                ${sSortColumn_0} ${sSortDir_0}
            </if>
        </trim>
	</select>

    <select id="getBaobeiById" resultMap="result" parameterType="int">
		SELECT * FROM baobei where id=#{id};
	</select>

	<insert id="insertBaobei" parameterType="Baobei">
		INSERT INTO baobei (name,taobaoId,weight,saleTitle,incomingTime)
    	VALUE (#{name},#{taobaoId},#{weight},#{saleTitle},#{incomingTime})
        <selectKey keyProperty="id" resultType="int" order="AFTER">
                   SELECT LAST_INSERT_ID();
        </selectKey>

	</insert>


	<update id="updateBaobei" parameterType="Baobei">
  		UPDATE baobei
  		SET
  			name = #{name},
			taobaoId = #{taobaoId},
			saleTitle = #{saleTitle},
			weight = #{weight},
			incomingTime = #{incomingTime}
  		where id = #{id}
	</update>

	<delete id="deleteBaobei" parameterType="int">
    	DELETE FROM baobei WHERE id = #{id}
    </delete>
</mapper>