<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tbgt.persistence.ExpressCodeMapper">

    <select id="getExpressCodeList" resultType="ExpressCode" parameterType="string">
      SELECT * FROM express_code
      <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="_parameter != null and _parameter != ''">
                province=#{_parameter}
            </if>
        </trim>
      order by province,type
    </select>

    <select id="getExpressCode" resultType="ExpressCode" parameterType="java.util.Map">
      SELECT * FROM express_code where province=#{province} and type = #{type}
    </select>

</mapper>