<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tbgt.persistence.SoldBaobeiMapper">

    <select id="getSoldBaobeiByOrderNo" resultType="SoldBaobei" parameterType="int">
      SELECT * FROM soldbaobei WHERE orderid=#{id}
    </select>

    <insert id="saveSoldBaoBei" parameterType="soldBaobei">
		INSERT INTO soldBaobei (orderId,baobeiId,quantity,color,spec,name,purchasePrice,salePrice)
    	VALUE (#{orderId},#{baobeiId},#{quantity},#{color},#{spec},#{name},#{purchasePrice},#{salePrice})
        <selectKey keyProperty="id" resultType="int" order="AFTER">
                   SELECT LAST_INSERT_ID();
        </selectKey>
	</insert>

    <delete id="deleteSoldBaobei" parameterType="int">
    	DELETE FROM soldbaobei WHERE id = #{id}
    </delete>

    <update id="updateSoldBaobei" parameterType="soldBaobei">
  		UPDATE soldbaobei
  		SET
  			orderId = #{orderId},
			baobeiId = #{baobeiId},
			quantity = #{quantity},
			color = #{color},
			spec = #{spec},
			name = #{name},
			purchasePrice = #{purchasePrice},
			salePrice = #{salePrice}
  		where id = #{id}
	</update>
</mapper>