<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tbgt.persistence.SoldBaobeiMapper">

    <select id="getSoldBaobeiByOrderId" resultType="SoldBaobei" parameterType="long">
      SELECT * FROM soldbaobei WHERE tid=#{id}
    </select>

    <insert id="saveSoldBaoBei" parameterType="SoldBaobei">
		INSERT INTO soldbaobei (id,tid,bbid,quantity,sku_id,sku_properties_name,title,purchase_price,price,weight)
    	VALUE (#{id},#{tid},#{bbid},#{quantity},#{sku_id},#{sku_properties_name},#{title},#{purchase_price},#{price},#{weight})
	</insert>

    <delete id="deleteSoldBaobei" parameterType="long">
    	DELETE FROM soldbaobei WHERE id = #{id}
    </delete>
    <update id="updateSoldBaoBei" parameterType="SoldBaobei">
  		UPDATE soldbaobei
  		SET
  			tid = #{tid},
			bbid = #{bbid},
			quantity = #{quantity},
			sku_id = #{sku_id},
			sku_properties_name = #{sku_properties_name},
			title = #{title},
			purchase_price = #{purchase_price},
			weight = #{weight},
			price = #{price}
  		where id = #{id}
	</update>

    <update id="updateSoldBaoBeiForDummyOrder" parameterType="long">
  		UPDATE soldbaobei
  		SET
			purchase_price = 0,
			price = 0
  		where tid = #{orderid}
	</update>
</mapper>